<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productiv</title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <ul class="div-container">
        <li class='brand'>Productiv</li>
        <li class="option">Daily</li>
        <li class="option">Work</li>
    </ul>
<main>