<%- include('./partials/header.ejs') %>
<div class="container">
    <div class="display">
        <div class="quote"><div class="quote1">Todo Done</div><div class="quote2">keep it up</div></div>
        <div class="widget">1/3</div>
    </div>
    <form action="/submit" class="taskForm" method="POST">
        <input type="text" class="task" name="task" placeholder="write your next task">
        <!-- <input type="submit" value="submit"> -->
        <button type="submit" class="btn"><img src="/images/plusIcon.png"></button>
    </form>
    <% if(locals.tasks){ %><ul class="taskContainer">
        <%  for(var i=0;i<tasks.length;++i){ %> 
        <li class="taskItems"><input type="checkbox"> <%= tasks[i] %></li>
        <% } %>
    </ul> <% } %> 
</div>
<%- include('./partials/footer.ejs') %>